<h1>Editing itinerary day</h1>

<%= render "form", itinerary_day: @itinerary_day %>

<br>

<div>
  <%= link_to "Show this itinerary day", @itinerary_day %> |
  <%= link_to "Back to itinerary days", itinerary_days_path %>
</div>
