<h1>Editing statement</h1>

<%= render "form", statement: @statement %>

<br>

<div>
  <%= link_to "Show this statement", @statement %> |
  <%= link_to "Back to statements", statements_path %>
</div>
