<h1>Editing departure</h1>

<%= render "form", departure: @departure %>

<br>

<div>
  <%= link_to "Show this departure", @departure %> |
  <%= link_to "Back to departures", departures_path %>
</div>
