
<main>
  <hr>
  <div id="page-banner">
    <img src="https://s3.us-west-1.amazonaws.com/professor.raupach/acme_travel/images/home-page-banner.jpg" alt="Family on a river raft" title="Acme Adventure Travel" width="100%">
  </div>
  <article id="mission-statement">
    <h2><%= @slogan %></h2>
    At Acme Adventure Travel, we believe that traveling under your own power and at your own pace opens up an opportunity to connect more meaningfully with the world. Our mission is to provide a travel experience so transformative that you’ll never want to travel in any other way. We provide amazing support on meticulously planned itineraries with superb accommodations so you can be totally present enjoying your adventure.
  </article>
</main>
