<article>
  <p>Last updated February 25, 2022 </p>
  <section>
    <h2>INTRODUCTION</h2>
    <p>
      Acme Adventure Travel ("we" or "us" or "our") respects the privacy of our users ("user" or "you"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website acmeadventuretravel.com, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the "Site"). Please read this privacy policy carefully.  If you do not agree with the terms of this privacy policy, please do not access the site.
    </p>
    <br>
    <p>
      We reserve the right to make changes to this Privacy Policy at any time and for any reason.  We will alert you about any changes by updating the "Last Updated" date of this Privacy Policy.  Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.
    </p>
    <br>
    <p>
      You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.
    </p>
  </section>
  <section>
    <h2>COLLECTION OF YOUR INFORMATION</h2>
    <p>
      We may collect information about you in a variety of ways. The information we may collect on the Site includes:
    </p>

    <h3>Personal Data</h3>
    <p>
      Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site, when you choose to participate in various activities related to the Site, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site.
    </p>

    <h3>Derivative Data</h3>
    <p>
      Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.
    </p>

    <h3>Financial Data</h3>
    <p>
      Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site.
    </p>

    <h3>Data From Social Networks</h3>
    <p>
      User information from social networking sites, such as Facebook, Google+, Instagram, Pinterest, Twitter, including your name, your social network username, location, gender, birthdate, email address, profile picture, and public data for contacts, if you connect your account to such social networks.
    </p>

    <h3>Third-Party Data</h3>
    <p>
      Information from third parties, such as personal information or network friends, if you connect your account to the third party and  grant the Site permission to access this information.
    </p>

    <h3>Data From Contests, Giveaways, and Surveys </h3>
    <p>
      Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.
    </p>
  </section>

  <section>
    <h2>USE OF YOUR INFORMATION</h2>
    <p>
      Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience.  Specifically, we may use information collected about you via the Site  to:
    </p>
    <ul>
      <li>Administer sweepstakes, promotions, and contests.</li>
      <li>Assist law enforcement and respond to subpoena.</li>
      <li>Compile anonymous statistical data and analysis for use internally or with third parties.</li>
      <li>Create and manage your account.</li>
      <li>Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site to you.</li>
      <li>Email you regarding your account or order.</li>
      <li>Enable user-to-user communications.</li>
      <li>Fulfill and manage purchases, orders, payments, and other transactions related to the Site.</li>
      <li>Generate a personal profile about you to make future visits to the Site [and our mobile application] more personalized.</li>
      <li>Increase the efficiency and operation of the Site.</li>
      <li>Monitor and analyze usage and trends to improve your experience with the Site [and our mobile application].</li>
      <li>Notify you of updates to the Site.</li>
      <li>Offer new products, services, and/or recommendations to you.</li>
      <li>Perform other business activities as needed.</li>
      <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
      <li>Process payments and refunds.</li>
      <li>Request feedback and contact you about your use of the Site.</li>
      <li>Resolve disputes and troubleshoot problems.</li>
      <li>Respond to product and customer service requests.</li>
      <li>Send you a newsletter.</li>
      <li>Solicit support for the Site.</li>
    </ul>
  </section>

  <section>
    <h2>TRACKING TECHNOLOGIES</h2>
    <h3>Cookies and Web Beacons</h3>
    <p>
      We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site to help customize the Site and improve your experience. When you access the Site, your personal information is not collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site
    </p>
    <p>
      We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site to help customize the Site and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.
    </p>

    <h3>Website Analytics </h3>
    <p>
      We may also partner with selected third-party vendors[, such as Google Analytics, to allow tracking technologies and remarketing services on the Site [and our mobile application] through the use of first party cookies and third-party cookies, to, among other things, analyze and track users" use of the Site [and our mobile application] , determine the popularity of certain content and better understand online activity. By accessing the Site, you consent to the collection and use of your information by these third-party vendors. You are encouraged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to these third-party vendors. However, if you do not want any information to be collected and used by tracking technologies, you can visit the third-party vendor or the Network Advertising Initiative Opt-Out Tool or Digital Advertising Alliance Opt-Out Tool.
    </p>
    <p>
      You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or otherwise altering your browser"s cookies files may also clear certain opt-out cookies, plug-ins, or settings.
    </p>
  </section>

  <section>
    <h2>THIRD-PARTY WEBSITES</h2>
    <p>
      The Site may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site.
    </p>
  </section>

  <section>
    <h2>POLICY FOR CHILDREN</h2>
    <p>
      We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.
    </p>
  </section>

  <section>
    <h2>CONTROLS FOR DO-NOT-TRACK FEATURES  </h2>
    <p>
      Most web browsers and some mobile operating systems include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected.  No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online.  If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy./Most web browsers and some mobile operating systems [and our mobile applications] include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. If you set the DNT signal on your browser, we will respond to such DNT browser signals.
    </p>
  </section>

  <section>
    <h2>CALIFORNIA PRIVACY RIGHTS</h2>
    <p>
      California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.
    </p>
    <p>
      If you are under 18 years of age, reside in California, and have a registered account with the Site [or our mobile application], you have the right to request removal of unwanted data that you publicly post on the Site [or our mobile application]. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California.  We will make sure the data is not publicly displayed on the Site [or our mobile application], but please be aware that the data may not be completely or comprehensively removed from our systems.
    </p>
  </section>
</article>
<aside></aside>