<article>
  <section>
    <h2>Why Travel Actively with Acme Adventure Travel</h2>
    <p>
      Freedom... discovery... energy... inspiration... engagement... serendipity. These are some of the words Acme Adventure Travel guests use to describe why they love exploring by bike and on foot.
    </p>
    <p>
      Active travel is about journeying through a fascinating region under your own power. On foot and on a bike, you can really get a visceral sense of place. Without any filters, you're free to truly be where you are. The wind in your face. The sun on your back. Reconnecting with yourself and others. The feeling that right now, and for the next few days, you control your own destiny. And always just ahead, the next unexpected moment you'll carry with you forever: a ruined castle shrouded in mist as the sun appears over the mountains... a flock of birds rising in a shimmering cloud from a vast river delta... a waiter lighting lamps on the caf&eacute; tables, saluting the village priest as he climbs the cathedral steps...
    </p>
    <p>
      For nearly 40 years, Acme Adventure Travel has been setting the stage for moments like these in every corner of the globe&mdash;raising the bar that all such travel should aspire to. And while it may sound like boasting, we don't think anyone does it better. Let us show you why...
    </p>
  </section>

  <section>
    <h2>Our Philosophy</h2>
    <p>
      While spread across the globe, we are all dedicated to the same vision: making your trip the best it can be. We hire, train and deliver with that objective in mind. From our expert trip designers and engaging leaders to our skilled bike mechanics and stellar guest service team, quality is woven into the philosophy and fabric of our company. We call it guest focus, and we aim to be the most guest-focused company out there.
    </p>
  </section>

  <section>
    <h2>New to Active Travel?</h2>
    <p>
      What does "ACTIVE" mean? How challenging or relaxing will the trip be? What is it like to travel with a group and how much freedom will I have to do my own thing? Where do I start and how does it all work? Read how we craft these incredible trips to be as active as you wish, as involved as you desire and relaxing as you need them to be.
    </p>
  </section>

  <section>
    <h2>Serious About Quality The Acme Adventure Travel Quality Guide</h2>
    <p>
      A travel experience is not like purchasing a new bike&mdash;you can't give it a test ride. You have to be able to trust what the people providing that experience tell you. Unfortunately, we've seen too many examples of companies quietly subcontracting all aspects of their trips to others and seriously limiting the amount of control they have over trip quality.
    </p>
    <p>
      See how we are committed to unsurpassed quality that no other travel company can match.
    </p>
  </section>

  <section>
    <h2>The Absolute Best Bikes</h2>
    <p>
      The key to a stellar day's ride is a bike that's perfectly in tune with your cycling style. Acme Adventure Travel has you covered with the best bike fleet in the world, designed for the way you like to ride.
    </p>
  </section>

  <section>
    <h2>Three Incredible Leaders</h2>
    <p>
      Great leaders are the key to an unforgettable active travel experience&mdash;Acme Adventure Travel sets the standard by staffing three leaders* per trip. Guests tell us constantly that our Trip Leaders are the best they've ever traveled with, rating their performance consistently at 9.7 out of 10 on post-trip surveys. We make sure those scores stay up there by running the most rigorous recruiting, training and guest satisfaction programs in the business. We work year-round to find and train these talented people&mdash;we hired only 8% of leader applicants in 2016.
    </p>
  </section>

  <section>
    <h2>Two Vans Supporting Your Day</h2>
    <p>
      Spend your time enjoying your trip&mdash;especially those unscripted moments that make active travel so rewarding&mdash;and not waiting for the lone van to show up. Enjoy the amount of activity you like&mdash;at your own pace, always with the option to change your mind as the day unfolds. Over 95% of Acme Adventure Travel guests on scheduled trips travel with three Acme Adventure Travel trip leaders or support staff, and two vans or more. With two vans we can be two places at once.
    </p>
  </section>

  <section>
    <h2>Your Pace Always Supported</h2>
    <p>
      Only Acme Adventure Travel fully supports a range of abilities &amp; interests. At Acme Adventure Travel we truly cater to the complete range of abilities and interests of our guests, so everyone enjoys a trip that matches their fitness level, pace and style. Looking for an epic ride? We can show you the way! Want more time to lounge by the pool or explore town on your own? No problem.
    </p>
  </section>

  <section>
    <h2>Fellow Travelers You Choose</h2>
    <p>
      Encouraged, supported and inspired by like-minded travelers, you discover extraordinary places in a different way than you would if you were exploring on your own. The common bond: A passion for discovery and a deep appreciation for the defining moment, be it a gorgeous sunset or the perfect cappuccino at a charming caf&eacute; in some faraway corner of the world.
    </p>
  </section>

  <section>
    <h2>Thoughtfully Designed</h2>
    <p>
      With an average tenure of 16 years, our trip designers have the ideal balance of passion, intuition and high-level expertise to create truly remarkable experiences that provide an overall sense of journey while leaving you free to add your own unique imprint. During the hundreds of behind-the-scenes hours that go into crafting each itinerary, we find the right blend of activities to showcase the best of a region, creating a rich tapestry that you can explore as fully as you wish.
    </p>
    <p>
      Having all been Trip Leaders, they've seen firsthand what guests find most meaningful. We work closely with each trip designer, scrutinizing the details to ensure each Acme Adventure Travel experience meets our gold standard for trip design.
    </p>
  </section>

  <section>
    <h2>Ways to Go Active</h2>
    <p>
      Whether it's biking, walking &amp; hiking or multi-active, we have plenty of choices for you to go active.
    </p>
  </section>

  <section>
    <h2>Lodging &amp; Dining</h2>
    <p>
      Whether it's an elegant Premiere Hotel set in a former royal ch&acirc;teau or a welcoming Casual Hotel renowned for its unmatched mountain views or a serene lakeside campground with a private beach for swimming, our team of trip designers and Trip Experts makes sure you stay at the ideal places to experience the best of each region.
    </p>
  </section>

  <section>
    <h2>Responsible Travel</h2>
    <p>
      Acme Adventure Travel has been taking responsible travel seriously since our first trip in 1979. After all, traveling on two feet or two wheels is the ultimate minimal-impact approach to travel. But we also recognize that any travel has an impact, so we do everything we can to make that impact positive.
    </p>
    <br>
    <p>
      * Over 95% of Acme Adventure Travel guests on scheduled trips travel with three Acme Adventure Travel trip leaders or support staff, and two or more vehicles. We even add a fourth leader for meet and move days on some of our most logistically complex trips with the most guests to ensure everyone enjoys the best possible support. On less than 5% of scheduled trips, the number of guests is small enough that we can maintain our trademark high service standards with just two leaders and one van.
    </p>
  </section>

</article>