<h1>Editing contact us request</h1>

<%= render "form", contact_us_request: @contact_us_request %>

<br>

<div>
  <%= link_to "Show this contact us request", @contact_us_request %> |
  <%= link_to "Back to contact us requests", contact_us_requests_path %>
</div>
